* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  /*padding: 0 15px;*/
  font-family: sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 12px 0;
}
.airline-ticket-booking {
  min-width: 1200px !important;
  font-family: sans-serif; }
  .airline-ticket-booking .container {
    max-width: 1090px;
    margin: 0 auto; }
  .airline-ticket-booking a {
    color: #009edb;
    font-size: 11px;
    text-decoration: none; }
  .airline-ticket-booking p {
    font-size: 14.5px;
    color: #000;
    margin-top: 0;
    margin-bottom: 0; }
  .airline-ticket-booking h1 {
    font-size: 29px;
    font-weight: normal;
    margin: 0; }
  .airline-ticket-booking h2 {
    font-size: 19px;
    font-weight: normal;
    margin: 0; }
  .airline-ticket-booking h3 {
    font-size: 16px;
    margin: 0; }
  .airline-ticket-booking ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0; }
  .airline-ticket-booking button {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: .2px;
    padding: 11px 18.7px;
    color: #fff;
    background-color: #1fc4f4;
    border: none; }
  .airline-ticket-booking hr {
    border-bottom-color: #cbcbcb;
    border-top: none;
    margin: 0; }
  .airline-ticket-booking ::placeholder {
    color: #aaa; }
  .airline-ticket-booking .clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  .airline-ticket-booking .inline {
    display: inline; }
  .airline-ticket-booking .inline-block {
    display: inline-block; }
  .airline-ticket-booking .float-left {
    float: left; }
  .airline-ticket-booking .float-right {
    float: right; }
  .airline-ticket-booking .flex-between {
    display: flex;
    justify-content: space-between; }
  .airline-ticket-booking .flex-wrap {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap; }
  .airline-ticket-booking .mv-0 {
    margin-top: 0;
    margin-bottom: 0; }
  .airline-ticket-booking .ph-0 {
    padding-left: 0;
    padding-right: 0; }
  .airline-ticket-booking .fs-13 {
    font-size: 13px; }
  .airline-ticket-booking .bold {
    font-weight: bold; }

.airline-ticket-booking .airline-header .top-header {
  height: 73px;
  margin-left: -6px; }
  .airline-ticket-booking .airline-header .top-header li {
    line-height: 73px;
    padding-left: 13px;
    padding-right: 13px; }
    .airline-ticket-booking .airline-header .top-header li.user-navigation {
      padding: 28px 18px;
      border: 1.5px solid rgba(204, 204, 204, 0.2);
      border-top: none;
      border-bottom: none; }
    .airline-ticket-booking .airline-header .top-header li.language {
      padding-right: 0; }
    .airline-ticket-booking .airline-header .top-header li.user-navigation a, .airline-ticket-booking .airline-header .top-header li.language a {
      color: #000;
      letter-spacing: 1.1px;
      padding-left: 9px;
      padding-right: 10px;
      text-transform: none; }
    .airline-ticket-booking .airline-header .top-header li.active {
      background-color: #0065b3;
      padding-top: 18px;
      padding-bottom: 31px; }
      .airline-ticket-booking .airline-header .top-header li.active a {
        color: #fff; }
    .airline-ticket-booking .airline-header .top-header li a {
      text-transform: uppercase; }

.airline-ticket-booking .airline-header .bottom-header {
  background-color: #0065b3;
  position: relative; }
  .airline-ticket-booking .airline-header .bottom-header ul {
    padding-top: 11px;
    padding-bottom: 13px; }
    .airline-ticket-booking .airline-header .bottom-header ul li {
      color: #fff;
      padding-right: 8px;
      font-size: 11px; }
  .airline-ticket-booking .airline-header .bottom-header .bottom-header-background {
    position: absolute;
    right: 0;
    top: 0; }

.airline-ticket-booking .airline-header .step-header {
  background-color: #f3f4f6;
  padding-top: 20px;
  padding-bottom: 21px; }
  .airline-ticket-booking .airline-header .step-header .step {
    display: inline-block; }
    .airline-ticket-booking .airline-header .step-header .step.active .step-round {
      background-color: #1fc4f4; }
    .airline-ticket-booking .airline-header .step-header .step.active span {
      color: #000; }
    .airline-ticket-booking .airline-header .step-header .step .step-round {
      background-color: #aaa;
      padding: 8px 12.5px;
      color: #fff;
      font-size: 16px;
      margin-right: 7px;
      border-radius: 100px;
      display: inline-block; }
    .airline-ticket-booking .airline-header .step-header .step span {
      color: #999; }
    .airline-ticket-booking .airline-header .step-header .step img {
      padding-left: 16px;
      padding-right: 13px;
      margin-bottom: 5px; }

.airline-ticket-booking .airline-footer {
  background-color: #0065b3;
  padding-top: 17px;
  padding-bottom: 17px; }
  .airline-ticket-booking .airline-footer p {
    opacity: 0.5;
    font-size: 9.5px;
    letter-spacing: 1px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5); }

.airline-ticket-booking .airline-content {
  margin-bottom: 56px; }
  .airline-ticket-booking .airline-content .content-header {
    margin-top: 24px;
    margin-bottom: 16px; }
    .airline-ticket-booking .airline-content .content-header p {
      color: #555555;
      margin-left: 14px; }
  .airline-ticket-booking .airline-content button {
    background-color: #fa8d00;
    box-shadow: 2.5px 4.3px 0 0 rgba(0, 0, 0, 0.15);
    float: right;
    padding: 11.5px 30px;
    letter-spacing: 1.2px; }
    .airline-ticket-booking .airline-content button.disabled {
      background-color: #aaa; }

.airline-ticket-booking .airline-summary {
  width: 286px;
  box-shadow: 4.5px 3.9px 0 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #cccccc; }
  .airline-ticket-booking .airline-summary .summary-header {
    padding: 14.5px 25px;
    background-color: #1fc4f4; }
    .airline-ticket-booking .airline-summary .summary-header h2 {
      color: #fff; }
  .airline-ticket-booking .airline-summary .summary-body {
    background-color: #f5f5f5; }
    .airline-ticket-booking .airline-summary .summary-body .departure, .airline-ticket-booking .airline-summary .summary-body .return {
      padding: 19px 21px 18px 26px; }
      .airline-ticket-booking .airline-summary .summary-body .departure .header, .airline-ticket-booking .airline-summary .summary-body .return .header {
        margin-bottom: 8px; }
        .airline-ticket-booking .airline-summary .summary-body .departure .header p, .airline-ticket-booking .airline-summary .summary-body .return .header p {
          color: #3a6bb5; }
      .airline-ticket-booking .airline-summary .summary-body .departure .body, .airline-ticket-booking .airline-summary .summary-body .return .body {
        margin-bottom: 15px;
        position: relative; }
        .airline-ticket-booking .airline-summary .summary-body .departure .body img, .airline-ticket-booking .airline-summary .summary-body .return .body img {
          position: absolute;
          top: 0; }
        .airline-ticket-booking .airline-summary .summary-body .departure .body .text-wrapper, .airline-ticket-booking .airline-summary .summary-body .return .body .text-wrapper {
          max-width: 158px;
          margin-left: 25px; }
          .airline-ticket-booking .airline-summary .summary-body .departure .body .text-wrapper p, .airline-ticket-booking .airline-summary .summary-body .return .body .text-wrapper p {
            font-size: 11px;
            color: #333333; }
      .airline-ticket-booking .airline-summary .summary-body .departure .footer, .airline-ticket-booking .airline-summary .summary-body .return .footer {
        margin-top: 9px; }
        .airline-ticket-booking .airline-summary .summary-body .departure .footer p, .airline-ticket-booking .airline-summary .summary-body .return .footer p {
          font-size: 13px; }
          .airline-ticket-booking .airline-summary .summary-body .departure .footer p:first-child, .airline-ticket-booking .airline-summary .summary-body .return .footer p:first-child {
            color: #333; }
        .airline-ticket-booking .airline-summary .summary-body .departure .footer .subtotal, .airline-ticket-booking .airline-summary .summary-body .return .footer .subtotal {
          padding: 8px;
          margin-top: 5px;
          margin-bottom: 10px;
          background-color: #ecfcff; }
        .airline-ticket-booking .airline-summary .summary-body .departure .footer a, .airline-ticket-booking .airline-summary .summary-body .return .footer a {
          color: #0065b3;
          font-size: 11px; }
  .airline-ticket-booking .airline-summary .summary-footer {
    background-color: #d5f8ff;
    padding: 16px 27px 13px 22px; }

.airline-ticket-booking .airline-passenger .passenger {
  width: 778px;
  margin-bottom: 22px;
  box-shadow: 1.5px 2.6px 0 0 rgba(0, 0, 0, 0.2); }
  .airline-ticket-booking .airline-passenger .passenger:last-child {
    margin-bottom: 31px; }
  .airline-ticket-booking .airline-passenger .passenger .header {
    padding: 15.5px 38px;
    background-color: #b6eeff; }
  .airline-ticket-booking .airline-passenger .passenger .content {
    background-color: #f4fdff;
    padding: 21px 37px 3px 37px; }
    .airline-ticket-booking .airline-passenger .passenger .content .input-group {
      margin-bottom: 19px; }
      .airline-ticket-booking .airline-passenger .passenger .content .input-group p {
        font-size: 13px;
        color: #010101;
        margin-bottom: 8px; }
      .airline-ticket-booking .airline-passenger .passenger .content .input-group.select-group {
        position: relative; }
        .airline-ticket-booking .airline-passenger .passenger .content .input-group.select-group select {
          padding: 9.5px 0 9.5px 13px;
          font-size: 13px;
          -webkit-appearance: none;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          background-color: #fff;
          border: 1px solid #cccccc; }
          .airline-ticket-booking .airline-passenger .passenger .content .input-group.select-group select.small {
            width: 58px;
            padding-left: 7px; }
          .airline-ticket-booking .airline-passenger .passenger .content .input-group.select-group select.large {
            width: 224px; }
        .airline-ticket-booking .airline-passenger .passenger .content .input-group.select-group img {
          position: absolute;
          right: 2px;
          bottom: 9.5px; }
      .airline-ticket-booking .airline-passenger .passenger .content .input-group input {
        padding: 9px 0 9px 16px;
        width: 197px;
        color: #555;
        font-size: 14.5px;
        border: 1px solid #cccccc; }
        .airline-ticket-booking .airline-passenger .passenger .content .input-group input.large {
          padding-left: 17px;
          width: 224px; }

.airline-ticket-booking .airline-payment {
  width: 778px;
  margin-bottom: 19px;
  box-shadow: 4.5px 3.9px 0 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #cccccc; }
  .airline-ticket-booking .airline-payment .header .top-header {
    background-color: #b6eeff;
    padding: 15.5px 38px; }
  .airline-ticket-booking .airline-payment .header .bottom-header {
    background-color: #f5f5f5;
    padding: 14px 38px; }
    .airline-ticket-booking .airline-payment .header .bottom-header h1 {
      color: #0065b3;
      margin-top: 10px; }
  .airline-ticket-booking .airline-payment .description {
    padding: 16px 38px 18px 38px; }
  .airline-ticket-booking .airline-payment .content {
    padding: 0 16px 17px 16px; }
    .airline-ticket-booking .airline-payment .content .tabs li {
      border: 1px solid #ccc;
      border-bottom: none;
      font-size: 14.5px;
      font-weight: bold;
      background-color: #f4f4f4;
      width: 182px;
      padding: 15px 0;
      text-align: center;
      color: #777777; }
      .airline-ticket-booking .airline-payment .content .tabs li.active {
        color: #0065b3;
        background-color: #f4fdff; }
    .airline-ticket-booking .airline-payment .content .payment-form {
      background-color: #f4fdff;
      padding: 31px 48px 13px 81px; }
      .airline-ticket-booking .airline-payment .content .payment-form .form-wrapper {
        width: 399px; }
        .airline-ticket-booking .airline-payment .content .payment-form .form-wrapper .input-group {
          margin-bottom: 17px; }
          .airline-ticket-booking .airline-payment .content .payment-form .form-wrapper .input-group p {
            font-size: 13px;
            color: #010101;
            margin-bottom: 8px; }
          .airline-ticket-booking .airline-payment .content .payment-form .form-wrapper .input-group input {
            padding: 9px 0 9px 18px;
            width: 100%;
            color: #555;
            box-shadow: 4.5px 3.9px 0 0 rgba(0, 0, 0, 0.1);
            border: solid 1px #cccccc;
            font-size: 14.5px; }
          .airline-ticket-booking .airline-payment .content .payment-form .form-wrapper .input-group.inline-block input {
            width: 188px; }
      .airline-ticket-booking .airline-payment .content .payment-form .payment-list {
        margin-top: 23px; }
        .airline-ticket-booking .airline-payment .content .payment-form .payment-list img {
          margin-bottom: 23px;
          display: block;
          margin-left: auto; }
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: 2 1C 2 1D 2 18 2 19; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
figure {
  margin: 0; }

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%; }

ul {
  list-style: none;
  padding-left: none; }

a:focus {
  outline: none; }

/*
  Variables
*/
html {
  /*letter-spacing -1px*/ }

.financial-dashboard {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px; }
  .financial-dashboard h1 {
    font-weight: 400;
    color: #464646; }
  .financial-dashboard h1 a {
    color: #125688;
    text-decoration: none; }
  .financial-dashboard h1 a:focus {
    outline: 0; }
  .financial-dashboard h2 {
    margin-top: 0;
    margin-bottom: 3px;
    font-weight: normal; }
  .financial-dashboard .container {
    max-width: 1055px;
    margin: 0 auto; }
  .financial-dashboard .container-inner {
    max-width: 970px;
    margin: 0 auto; }
  .financial-dashboard h3 {
    font-size: 18px;
    margin: 0; }
  .financial-dashboard h4 {
    font-size: 13px;
    margin: 0; }
  .financial-dashboard .red {
    color: #f00; }
  .financial-dashboard .david-rica {
    font-family: billabong, 'billabongregular';
    text-align: center;
    font-weight: 100;
    font-size: 5rem;
    margin: 6rem 0;
    letter-spacing: -1px;
    text-shadow: 0px 4px 0 rgba(18, 86, 136, 0.11); }
  .financial-dashboard .david-rica a {
    color: #125688;
    text-decoration: none; }
  .financial-dashboard .david-rica a:focus {
    outline: 0; }

@font-face {
  font-family: 'billabongregular';
  src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot");
  src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix") format("embedded-opentype"), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff") format("woff"), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf") format("truetype"), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.financial-dashboard {
  /* header-top */
  /* header-bottom */ }
  .financial-dashboard .header-top {
    background-color: #246aa6;
    height: 59px;
    color: #fff; }
  .financial-dashboard .fa {
    font-size: 16px; }
  .financial-dashboard .logo {
    padding-top: 16px;
    float: left; }
  .financial-dashboard .logo .logo-01 {
    color: #fff;
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 21px;
    padding-left: 2px; }
  .financial-dashboard .logo .logo-02 {
    color: #a7a64d;
    font-size: 14px;
    line-height: 11px; }
  .financial-dashboard .user-session {
    float: right; }
  .financial-dashboard .user-session .name-id {
    text-align: right;
    padding: 10.5px 0;
    line-height: normal;
    padding-right: 1rem; }
  .financial-dashboard .user-session .name-id .name {
    font-size: 14px; }
  .financial-dashboard .user-session .name-id .user-id {
    color: #6b9ec7;
    font-size: 12px; }
  .financial-dashboard .user-session .profile-picture {
    padding-right: 2rem;
    height: 59px; }
  .financial-dashboard .user-session .profile-picture img {
    border-radius: 100px;
    line-height: 59px;
    margin: 8.5px 0; }
  .financial-dashboard .user-session .notification {
    padding-right: 2rem;
    position: relative; }
  .financial-dashboard .user-session .sign-out {
    font-size: 12px; }
  .financial-dashboard .user-session .sign-out i {
    padding-right: 5px; }
  .financial-dashboard .name-id,
  .financial-dashboard .profile-picture,
  .financial-dashboard .notification,
  .financial-dashboard .sign-out {
    float: left;
    line-height: 59px; }
  .financial-dashboard .circle-user {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 7px;
    color: #eba330; }
  .financial-dashboard .header-bottom {
    height: 54px;
    border-bottom: 1px solid #eef1f3; }
  .financial-dashboard .hb-left {
    float: left; }
  .financial-dashboard .hb-left .fa-home {
    color: #246aa6;
    font-size: 22px; }
  .financial-dashboard ul {
    line-height: 54px;
    padding-left: 0;
    margin: 0; }
  .financial-dashboard ul li {
    font-size: 13px;
    padding: 0 1.5rem;
    display: inline-block;
    color: #9196a4;
    position: relative; }
  .financial-dashboard ul li:hover {
    color: #246aa6;
    cursor: pointer; }
  .financial-dashboard ul li.home-tab {
    padding: 0 1rem; }
  .financial-dashboard ul li .fa-sort-down {
    font-size: 12px;
    position: absolute;
    right: 8px;
    bottom: 22px; }
  .financial-dashboard ul li.active {
    border-bottom: 3px solid #f9ce31; }
  .financial-dashboard .hb-right {
    float: right; }

.financial-dashboard {
  /* Box */
  /* Box 2 */
  /* Payables */
  /* Account Overview */
  /* Most Visited */
  /* Forex Rate */
  /* Profit and Loss */ }
  .financial-dashboard .s1-1 {
    float: left; }
  .financial-dashboard .s1-1 h1 {
    font-size: 28px;
    margin-top: 2.5rem;
    margin-bottom: 1rem; }
  .financial-dashboard .s1-2 {
    float: left;
    margin-top: 3.5rem;
    margin-left: 1.5rem;
    color: #9ea0ab; }
  .financial-dashboard .s1-3 {
    float: right;
    margin-top: 3.5rem;
    color: #449eda; }
  .financial-dashboard .fa-gear {
    font-size: 13px; }
  .financial-dashboard .section2 {
    border: 1px solid #d6d6d6;
    -moz-box-shadow: inset 1px 1px 7px #c1c1c1;
    -webkit-box-shadow: inset 1px 1px 7px #c1c1c1;
    box-shadow: inset 1px 1px 7px #c1c1c1;
    padding: 33px 38px;
    padding-bottom: 13px; }
  .financial-dashboard .section2 .s2-left {
    float: left;
    width: 52.611%;
    padding-right: 16px; }
  .financial-dashboard .section2 .s2-right {
    float: left;
    width: 47.39%;
    padding-left: 16px; }
  .financial-dashboard .section2 .pannel {
    margin-bottom: 24px; }
  .financial-dashboard .box {
    -webkit-box-shadow: 2px 2px 7px -1px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 5x 50px 6px -6px #777;
    position: relative; }
  .financial-dashboard .box1 {
    width: 100%;
    display: flex;
    border: 1px solid #b7dde8;
    padding: 10px 19px 16px 19px; }
  .financial-dashboard .box1 img {
    display: inline-block;
    padding-top: 11px; }
  .financial-dashboard .view-more {
    position: absolute;
    right: 18px;
    bottom: 9px;
    color: #00f; }
  .financial-dashboard .ide01 {
    display: inline-block;
    padding-left: 19px; }
  .financial-dashboard .ide01 .ide01-01,
  .financial-dashboard .ide01 .ide01-02 {
    padding-top: 9px;
    padding-left: 7px; }
  .financial-dashboard .ide01 .ide01-01 .fa,
  .financial-dashboard .ide01 .ide01-02 .fa,
  .financial-dashboard .ide01 .ide01-01 span,
  .financial-dashboard .ide01 .ide01-02 span {
    color: #00f; }
  .financial-dashboard .ide01 .ideName {
    font-weight: bold; }
  .financial-dashboard .box2 {
    flex-direction: column;
    padding: 0; }
  .financial-dashboard .box-title {
    border: 1px solid #bebebe;
    background: #f3f3f3;
    height: 37px;
    padding: 5px 15px;
    position: relative; }
  .financial-dashboard .box-title .fa-close {
    position: absolute;
    right: 15px;
    top: 8.5px;
    color: #7f7f7f; }
  .financial-dashboard .box-content {
    padding: 10px 20px 8px 15px;
    border: 1px solid #b7dde8;
    border-top: none; }
  .financial-dashboard .box-content .ct-left {
    float: left;
    font-size: 11px; }
  .financial-dashboard .box-content .ct-right {
    float: right;
    font-size: 11px; }
  .financial-dashboard .box-content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 7px; }
  .financial-dashboard .box-content table tr {
    border-bottom: 1px solid #b2b2b2;
    line-height: 22px; }
  .financial-dashboard .box-content table tr td:first-child {
    max-width: 175px; }
  .financial-dashboard .box-content table tr td:last-child {
    float: right; }
  .financial-dashboard .box-content table .table-head {
    color: #00f;
    border-bottom: 1px solid #000; }
  .financial-dashboard .box-content select {
    color: #00f;
    background: #b7dde8;
    margin-top: 5px;
    border-color: #4bacc6;
    height: 27px;
    min-width: 151px; }
  .financial-dashboard .box-content .view-more {
    font-size: 13px; }
  .financial-dashboard .box-content .payebles-table tr {
    line-height: normal; }
  .financial-dashboard .box-content .payebles-table td:first-child {
    max-width: 145px; }
  .financial-dashboard .over-view {
    font-size: 11px; }
  .financial-dashboard .over-view table .table-head,
  .financial-dashboard .over-view table tr {
    border-bottom: 0; }
  .financial-dashboard .over-view table tr:nth-child(4) {
    color: #ee7d30;
    border-bottom: 1px solid #b2b2b2;
    font-weight: bold; }
  .financial-dashboard .over-view table tr:last-child {
    font-weight: bold; }
  .financial-dashboard .over-view h4 {
    font-size: 11px;
    color: #5b9bd5; }
  .financial-dashboard .over-view .view-more {
    right: 22px;
    bottom: 16px; }
  .financial-dashboard .canvas {
    width: 170px;
    height: 170px;
    max-width: 37%;
    margin-top: -16px;
    margin-left: -6px;
    position: relative;
    display: inline-block; }
  .financial-dashboard .canvas .graph-title {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -48%);
    font-size: 10px; }
  .financial-dashboard .canvas .graph-date {
    text-align: center;
    margin-top: 3px; }
  .financial-dashboard .chartDetail {
    float: right;
    width: 100px;
    margin-top: 3px;
    width: 64%; }
  .financial-dashboard .chart1 {
    border-bottom: 1px solid #b2b2b2;
    padding-bottom: 18px; }
  .financial-dashboard .chart2 {
    padding-bottom: 10px; }
  .financial-dashboard .chart2 .canvas {
    margin-top: 0; }
  .financial-dashboard .chart2 table tbody tr:nth-child(1) {
    color: #70ad47;
    border-bottom: 1px solid #b2b2b2;
    font-weight: bold; }
  .financial-dashboard .chart2 .ao-table-1 {
    margin-top: 20px; }
  .financial-dashboard .most-visited .box-content {
    padding-top: 8px; }
  .financial-dashboard .most-visited ul {
    line-height: normal;
    padding-left: 5px; }
  .financial-dashboard .most-visited ul li {
    color: #000;
    text-align: center;
    padding-left: 0;
    padding-right: 38px; }
  .financial-dashboard .most-visited ul li:last-child {
    padding-right: 0; }
  .financial-dashboard .most-visited ul li .mv-title {
    margin-top: 8px; }
  .financial-dashboard .forex-rate .box-content {
    padding-bottom: 27px; }
  .financial-dashboard .forex-rate .frc-left {
    width: 57%;
    display: inline-block;
    float: left; }
  .financial-dashboard .forex-rate .frc-right {
    width: 43%;
    float: left;
    padding-left: 17px;
    padding-top: 10px; }
  .financial-dashboard .forex-rate table {
    margin-top: 5px; }
  .financial-dashboard .forex-rate table tr {
    line-height: 20px; }
  .financial-dashboard .forex-rate table tr td:first-child {
    width: 77px; }
  .financial-dashboard .forex-rate table tr td:nth-child(2) {
    text-align: right;
    width: 77px; }
  .financial-dashboard .forex-rate ul {
    line-height: normal; }
  .financial-dashboard .forex-rate ul li {
    color: #00f;
    line-height: 15px;
    padding-bottom: 17px; }
  .financial-dashboard .profit-loss .box-content {
    padding-bottom: 16px; }

.financial-dashboard .footer {
  border-top: 1px solid #eef1f3;
  margin-top: 30px;
  padding-bottom: 20px; }

.financial-dashboard .footer .footer-top .container {
  max-width: 1030px;
  padding: 17px 0 21px 0;
  border-bottom: 1px solid #eef1f3; }

.financial-dashboard .footer .footer-top .ft-left {
  float: left; }

.financial-dashboard .footer .footer-top .ft-left li:nth-child(2) {
  padding-left: 9px;
  border-left: 1px solid #e5e5e5; }

.financial-dashboard .footer .footer-top .ft-right {
  float: right; }

.financial-dashboard .footer .footer-top .ft-right li {
  padding-left: 18px;
  padding-right: 0; }

.financial-dashboard .footer .footer-top ul {
  line-height: normal;
  color: #9196a4; }

.financial-dashboard .footer .footer-top ul li {
  font-size: 12px;
  padding-left: 0;
  padding-right: 9px; }

.financial-dashboard .footer .footer-top ul li a {
  text-decoration: none;
  color: #a19ba5; }

.financial-dashboard .footer .footer-top ul li.active {
  border-bottom: none; }

.financial-dashboard .footer .footer-top ul li.active a {
  color: #2469a6; }

.financial-dashboard .footer .footer-bottom {
  padding-top: 20px; }

.financial-dashboard .footer .footer-bottom p {
  margin: 0;
  font-size: 11px;
  color: #a1abb6; }

.financial-dashboard .footer .footer-bottom .footer-logo {
  float: left;
  margin-left: 5px; }

.financial-dashboard .footer .footer-bottom .fb-text {
  float: left;
  margin-left: 15px; }
.newslist {
  background-color: #f6f6ef;
}

.newslist small {
  color: #828282;
}

.newslist .header {
  background-color: #6b32e1;
  color: #fff;
  padding: 3px;
  height: 28px;
}

.newslist .header-title {
  float: left;
}

.sort {
  float: right;
  font-size: 13px;
  color: #c6b0f1;
  margin: 4px 15px 0 0;
}

.sort a {
  text-decoration: none;
  margin: 0 5px;
  color: #c6b0f1;
}

.sort-item {
  cursor: pointer;
}
.sort-selected {
  font-weight: bold;
}
.logo-wizard {
  margin-top: 2px;
  margin-right: 10px;
  border: 1px white solid;
  vertical-align: bottom;
}

.news-item {
  padding: 0 15px;
}

.news-position {
  color: #828282;
}

.news-details {
  display: block;
  margin-left: 40px;
  margin-top: -12px;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  /*padding: 0 15px;*/
  font-family: sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 12px 0;
}

.home {
  font-family: "Avenir Light", Helvetica, Arial, sans-serif;
  background-color: #f6f6ef;
}

.home::after {
  display: block;
  content: "";
  clear: both;
}

.selected {
  font-weight: bold;
}

header {
  width: 100%;
  text-align: center;
  padding: 20px;
}

aside {
  float: left;
  text-align: right;
  width: 8%;
  color: #999;
}

article {
  float: left;
  padding: 0 30px;
  width: 45%;
}

figure {
  float: right;
  margin: 0;
  padding: 50px 0 0 15px;
  width: 47%;
}

/*# sourceMappingURL=styles.css.map*/