.airline-ticket-booking {
    .airline-content {
        margin-bottom: 56px;
        .content-header {
            margin-top: 24px;
            margin-bottom: 16px;
            p {
                color: #555555;
                margin-left: 14px;
            }
        }
        button {
            background-color: #fa8d00;
            box-shadow: 2.5px 4.3px 0 0 rgba(0, 0, 0, 0.15);
            float: right;
            padding: 11.5px 30px;
            letter-spacing: 1.2px;
            &.disabled {
                background-color: #aaa;
            }
        }
    }
}