.airline-ticket-booking {
    .airline-footer {
        background-color: #0065b3;
        padding-top: 17px;
        padding-bottom: 17px;
        p {
            opacity: 0.5;
            font-size: 9.5px;
            letter-spacing: 1px;
            text-align: center;
            color: rgba(255, 255, 255, 0.5);
        }
    }
}