.airline-ticket-booking {
  .airline-header {
    .top-header {
      height: 73px;
      margin-left: -6px;
      li {
        line-height: 73px;
        padding-left: 13px;
        padding-right: 13px;
        &.user-navigation {
          padding: 28px 18px;
          border: 1.5px solid rgba(204,204,204,.2);
          border-top: none;
          border-bottom: none;
        }
        &.language {
          padding-right: 0;
        }
        &.user-navigation a, &.language a {
          color: #000;
          letter-spacing: 1.1px;
          padding-left: 9px;
          padding-right: 10px;
          text-transform: none;
        }
        &.active {
          background-color: #0065b3;
          padding-top: 18px;
          padding-bottom: 31px;
          a {
            color: #fff;
          }
        }
        a {
          text-transform: uppercase;
        }
      }
    }
    .bottom-header {
      background-color: #0065b3;
      position: relative;

      ul {
        padding-top: 11px;
        padding-bottom: 13px;
        li {
          color: #fff;
          padding-right: 8px;
          font-size: 11px;
        }
      }
      .bottom-header-background {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    .step-header {
      background-color: #f3f4f6;
      padding-top: 20px;
      padding-bottom: 21px;
      .step {
        display: inline-block;
        &.active {
          .step-round {
            background-color: #1fc4f4;
          }
          span {
            color: #000;
          }
        }
        .step-round {
          background-color: #aaa;
          padding: 8px 12.5px;
          color: #fff;
          font-size: 16px;
          margin-right: 7px;
          border-radius: 100px;
          display: inline-block;
        }
        span {
          color: #999;
        }
        img {
          padding-left: 16px;
          padding-right: 13px;
          margin-bottom: 5px;
        }
      }
    }
  }
}