.airline-ticket-booking {
  min-width: 1200px !important;
  font-family: sans-serif;
  .container {
    max-width: 1090px;
    margin: 0 auto;
  }
  a {
    color: #009edb;
    font-size: 11px;
    text-decoration: none;
  }
  p {
    font-size: 14.5px;
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
  }
  h1 {
    font-size: 29px;
    font-weight: normal;
    margin: 0;
  }
  h2 {
    font-size: 19px;
    font-weight: normal;
    margin: 0;
  }
  h3 {
    font-size: 16px;
    margin: 0;
  }
  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  button {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: .2px;
    padding: 11px 18.7px;
    color: #fff;
    background-color: #1fc4f4;
    border: none;
  }
  hr {
    border-bottom-color: #cbcbcb;
    border-top: none;
    margin: 0;
  }
  ::placeholder {
    color: #aaa;
  }
  .clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
  .inline {
    display: inline;
  }
  .inline-block {
    display: inline-block;
  }
  .float-left {
    float: left;
  }
  .float-right {
    float: right;
  }
  .flex-between {
    display: flex;
    justify-content: space-between;
  }
  .flex-wrap {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
  }
  .mv-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .ph-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .fs-13 {
    font-size: 13px;
  }
  .bold {
    font-weight: bold;
  }
}