.airline-ticket-booking {
    .airline-passenger {
        .passenger {
            width: 778px;
            margin-bottom: 22px;
            box-shadow: 1.5px 2.6px 0 0 rgba(0, 0, 0, 0.2);
            &:last-child {
                margin-bottom: 31px;
            }
            .header {
                padding: 15.5px 38px;
                background-color: #b6eeff;
            }
            .content {
                background-color: #f4fdff;
                padding: 21px 37px 3px 37px;
                .input-group {
                    margin-bottom: 19px;
                    p {
                        font-size: 13px;
                        color: #010101;
                        margin-bottom: 8px;
                    }
                    &.select-group {
                        position: relative;
                        select {
                            padding: 9.5px 0 9.5px 13px;
                            font-size: 13px;
                            -webkit-appearance: none;
                            -webkit-border-radius: 0;
                            -moz-border-radius: 0;
                            border-radius: 0;
                            background-color: #fff;
                            border: 1px solid #cccccc;
                            &.small {
                                width: 58px;
                                padding-left: 7px;
                            }
                            &.large {
                                width: 224px;
                            }
                        }
                        img {
                            position: absolute;
                            right: 2px;
                            bottom: 9.5px;
                        }
                    }
                    input {
                        padding: 9px 0 9px 16px;
                        width: 197px;
                        color: #555;
                        font-size: 14.5px;
                      border: 1px solid #cccccc;
                        &.large {
                            padding-left: 17px;
                            width: 224px;
                        }
                    }
                }
            }
        }
    }
}