.airline-ticket-booking {
    .airline-payment {
        width: 778px;
        margin-bottom: 19px;
        box-shadow: 4.5px 3.9px 0 0 rgba(0, 0, 0, 0.1);
        border: solid 1px #cccccc;
        .header {
            .top-header {
                background-color: #b6eeff;
                padding: 15.5px 38px;
            }
            .bottom-header {
                background-color: #f5f5f5;
                padding: 14px 38px;
                h1 {
                    color: #0065b3;
                    margin-top: 10px;
                }
            }
        }
        .description {
            padding: 16px 38px 18px 38px;
        }
        .content {
            padding: 0 16px 17px 16px;
            .tabs {
                li {
                    border: 1px solid #ccc;
                    border-bottom: none;
                    font-size: 14.5px;
                    font-weight: bold;
                    background-color: #f4f4f4;
                    width: 182px;
                    padding: 15px 0;
                    text-align: center;
                    color: #777777;
                    &.active {
                        color: #0065b3;
                        background-color: #f4fdff;
                    }
                }
            }
            .payment-form {
                background-color: #f4fdff;
                padding: 31px 48px 13px 81px;
                .form-wrapper {
                    width: 399px;
                    .input-group {
                        margin-bottom: 17px;
                        p {
                            font-size: 13px;
                            color: #010101;
                            margin-bottom: 8px;
                        }
                        input {
                            padding: 9px 0 9px 18px;
                            width: 100%;
                            color: #555;
                            box-shadow: 4.5px 3.9px 0 0 rgba(0, 0, 0, 0.1);
                            border: solid 1px #cccccc;
                            font-size: 14.5px;
                        }
                        &.inline-block input {
                            width: 188px;
                        }
                    }
                }
                .payment-list {
                    margin-top: 23px;
                    img {
                        margin-bottom: 23px;
                        display: block;
                        margin-left: auto;
                    }
                }
            }
        }
    }
}