.airline-ticket-booking {
    .airline-summary {
        width: 286px;
        box-shadow: 4.5px 3.9px 0 0 rgba(0, 0, 0, 0.1);
        border: solid 1px #cccccc;
        .summary-header {
            padding: 14.5px 25px;
            background-color: #1fc4f4;
            //box-shadow: 1.5px 2.6px 0 0 rgba(0, 0, 0, 0.2);
            h2 {
                color: #fff;
            }
        }
        .summary-body {
            background-color: #f5f5f5;
            .departure, .return {
                padding: 19px 21px 18px 26px;
                .header {
                    margin-bottom: 8px;
                    p {
                        color: #3a6bb5
                    }
                }
                .body {
                    margin-bottom: 15px;
                    position: relative;
                    img {
                        position: absolute;
                        top: 0;
                    }
                    .text-wrapper {
                        max-width: 158px;
                        margin-left: 25px;
                        p {
                            font-size: 11px;
                            color: #333333;
                        }
                    }
                }
                .footer {
                    margin-top: 9px;
                    p{
                        font-size: 13px;
                        &:first-child {
                            color: #333;
                        }
                    }
                    .subtotal {
                        padding: 8px;
                        margin-top: 5px;
                        margin-bottom: 10px;
                        background-color: #ecfcff;
                    }
                    a {
                        color: #0065b3;
                        font-size: 11px;
                    }
                }
            }
        }
        .summary-footer {
            background-color: #d5f8ff;
            padding: 16px 27px 13px 22px;
        }
    }
}