.financial-dashboard {
    .footer {
        border-top: 1px solid #eef1f3;
        margin-top: 30px;
        padding-bottom: 20px;
    }

    .footer .footer-top .container {
        max-width: 1030px;
        padding: 17px 0 21px 0;
        border-bottom: 1px solid #eef1f3;
    }

    .footer .footer-top .ft-left {
        float: left;
    }

    .footer .footer-top .ft-left li:nth-child(2) {
        padding-left: 9px;
        border-left: 1px solid #e5e5e5;
    }

    .footer .footer-top .ft-right {
        float: right;
    }

    .footer .footer-top .ft-right li {
        padding-left: 18px;
        padding-right: 0;
    }

    .footer .footer-top ul {
        line-height: normal;
        color: #9196a4;
    }

    .footer .footer-top ul li {
        font-size: 12px;
        padding-left: 0;
        padding-right: 9px;
    }

    .footer .footer-top ul li a {
        text-decoration: none;
        color: #a19ba5;
    }

    .footer .footer-top ul li.active {
        border-bottom: none;
    }

    .footer .footer-top ul li.active a {
        color: #2469a6;
    }

    .footer .footer-bottom {
        padding-top: 20px;
    }

    .footer .footer-bottom p {
        margin: 0;
        font-size: 11px;
        color: #a1abb6;
    }

    .footer .footer-bottom .footer-logo {
        float: left;
        margin-left: 5px;
    }

    .footer .footer-bottom .fb-text {
        float: left;
        margin-left: 15px;
    }
}