.financial-dashboard {
    /* header-top */
    .header-top {
        background-color: #246aa6;
        height: 59px;
        color: #fff;
    }

    .fa {
        font-size: 16px;
    }

    .logo {
        padding-top: 16px;
        float: left;
    }

    .logo .logo-01 {
        color: #fff;
        font-size: 24px;
        letter-spacing: -1px;
        line-height: 21px;
        padding-left: 2px;
    }

    .logo .logo-02 {
        color: #a7a64d;
        font-size: 14px;
        line-height: 11px;
    }

    .user-session {
        float: right;
    }

    .user-session .name-id {
        text-align: right;
        padding: 10.5px 0;
        line-height: normal;
        padding-right: 1rem;
    }

    .user-session .name-id .name {
        font-size: 14px;
    }

    .user-session .name-id .user-id {
        color: #6b9ec7;
        font-size: 12px;
    }

    .user-session .profile-picture {
        padding-right: 2rem;
        height: 59px;
    }

    .user-session .profile-picture img {
        border-radius: 100px;
        line-height: 59px;
        margin: 8.5px 0;
    }

    .user-session .notification {
        padding-right: 2rem;
        position: relative;
    }

    .user-session .sign-out {
        font-size: 12px;
    }

    .user-session .sign-out i {
        padding-right: 5px;
    }

    .name-id,
    .profile-picture,
    .notification,
    .sign-out {
        float: left;
        line-height: 59px;
    }

    .circle-user {
        position: absolute;
        top: 1rem;
        left: 1rem;
        font-size: 7px;
        color: #eba330;
    }
    /* header-bottom */
    .header-bottom {
        height: 54px;
        border-bottom: 1px solid #eef1f3;
    }

    .hb-left {
        float: left;
    }

    .hb-left .fa-home {
        color: #246aa6;
        font-size: 22px;
    }

    ul {
        line-height: 54px;
        padding-left: 0;
        margin: 0;
    }

    ul li {
        font-size: 13px;
        padding: 0 1.5rem;
        display: inline-block;
        color: #9196a4;
        position: relative;
    }

    ul li:hover {
        color: #246aa6;
        cursor: pointer;
    }

    ul li.home-tab {
        padding: 0 1rem;
    }

    ul li .fa-sort-down {
        font-size: 12px;
        position: absolute;
        right: 8px;
        bottom: 22px;
    }

    ul li.active {
        border-bottom: 3px solid #f9ce31;
    }

    .hb-right {
        float: right;
    }
}
